# gradle

.gradle/
build/classes/
build/resources/
build/generated/
build/loom-cache/
build/reports/
build/processIncludeJars/
build/tmp/
build/libs/simple-sort-fabric-1.0.0-sources.jar
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
.editorconfig
/src/main/resources/assets
/src/main/resources/data
/build
